.btn-1{
    margin-top: 2vh;
    color:black;
    font-weight: bold;
    background-color:rgb(224, 221, 16);
    border-radius: 5px;
    border-color: red;
    margin-left: 14px;
    font-size: 18px;
}


.sum-text{
    margin-top: 20px;
    color:crimson

}
.accordion-button::after{
    filter: invert(1);
}